:root {
	--cor-primaria: #c42d46;
	--cor-secundaria: #fdf0f2;
	--cor-texto-escuro: #4f2c25;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--cor-secundaria);
	color: var(--cor-texto-escuro);
	font-family: Arial, Helvetica, sans-serif;
}

